<% content_for :appname do %>
	Pr0filer
<% end %>

<% content_for :main do %>
<h3>All Users</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>email</th>
			<th>created at</th>
			<th>user level</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		<%	@everyone.each do |person| %>
			<tr class="<%= cycle('odd', 'even') %>">
				<td><%= person.id %></td>
				<td><a href="/users/<%= person.id %>"><%= person.first_name + " " + person.last_name %></a></td>
				<td><%= person.email %></td>
				<td><%= person.created_at.strftime("%b %d, %Y") %></td>
				
			<% if person.admin == "9.42" %>
				<td class="green">admin</td>
			<% else %>
				<td>normal</td>
			<% end %>

				<td>
					<a href="/admins/<%= person.id %>/edit">edit</a>
					<a href="/admins/<%= person.id %>" data-method="delete">remove</a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>


<% end %>