<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="row">
	<div class="col-xs-2">
		<h3><%= yield :appname %></h3>
	</div>
	<div class="col-xs-1">
		<a href="/users">Dashboard</a>
	</div>
	<div class="col-xs-1">
		<a href="/users/<%= session[:user_id] %>">Profile</a>
	</div>
	<div class="col-xs-3  col-xs-offset-3">
		<p>Welcome <%= session[:first_name] %></p>
	</div>	
	<div class="col-xs-1 col-xs-offset-1">
		<a href="/logoff">Log off</a>
	</div>
</header>

<div class="form_left col-sm-6 col-sm-offset-1">
	<%= yield :form_left %>
</div>

<div class="form_right col-sm-4">
	<%= yield :form_right %>
	<% if flash[:notice] %>
		<p class="green"><%= flash[:notice] %></p>
	<% end %>
	<% if flash[:error] %>
		<p><%= flash[:error] %></p>
	<% end %>
	<% if flash[:errors]
		flash[:errors].each do |error| %>
			<p><%= error %></p> 
		<% end %>
	<% end %>
</div>

<div class="col-sm-10 col-sm-offset-1 main">
	<%= yield :main %>
</div>

<%= yield %>

</body>
</html>
